.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/python/PyTorch/Patrick Loeber/data/
/python/PyTorch/Patrick Loeber/runs/
/python/software design/


/python/PyTorch/PyTorch Modular/data/pizza_steak_sushi/
/python/PyTorch/PyTorch Modular/models/



/python/PyTorch/PyTorch Modular - Transfer Learning/data/pizza_steak_sushi/
/python/PyTorch/PyTorch Modular - Transfer Learning/models/
/natural language processing/CS-524/data/


/python/PyTorch/custom modeling/dataset/

spatial test/data/