.Rproj.user
.Rhistory
.RData
.Ruserdata

/python/PyTorch/Patrick Loeber/data/
/python/PyTorch/Patrick Loeber/runs/
/python/software design/


/python/PyTorch/PyTorch Modular/data/pizza_steak_sushi/
/python/PyTorch/PyTorch Modular/models/



/python/PyTorch/PyTorch Modular - Transfer Learning/data/pizza_steak_sushi/
/python/PyTorch/PyTorch Modular - Transfer Learning/models/
